// fonts
@font-face {
    font-family: 'karla';
    src: url('/fonts/karla/Karla-Bold-webfont.eot');
    src: url('/fonts/karla/Karla-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/karla/Karla-Bold-webfont.woff2') format('woff2'),
         url('/fonts/karla/Karla-Bold-webfont.woff') format('woff'),
         url('/fonts/karla/Karla-Bold-webfont.ttf') format('truetype'),
         url('/fonts/karla/Karla-Bold-webfont.svg#karlabold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'karla';
    src: url('/fonts/karla/Karla-BoldItalic-webfont.eot');
    src: url('/fonts/karla/Karla-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/karla/Karla-BoldItalic-webfont.woff2') format('woff2'),
         url('/fonts/karla/Karla-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/karla/Karla-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/karla/Karla-BoldItalic-webfont.svg#karlabolditalic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'karla';
    src: url('/fonts/karla/Karla-Italic-webfont.eot');
    src: url('/fonts/karla/Karla-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/karla/Karla-Italic-webfont.woff2') format('woff2'),
         url('/fonts/karla/Karla-Italic-webfont.woff') format('woff'),
         url('/fonts/karla/Karla-Italic-webfont.ttf') format('truetype'),
         url('/fonts/karla/Karla-Italic-webfont.svg#karlaitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'karla';
    src: url('/fonts/karla/Karla-Regular-webfont.eot');
    src: url('/fonts/karla/Karla-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/karla/Karla-Regular-webfont.woff2') format('woff2'),
         url('/fonts/karla/Karla-Regular-webfont.woff') format('woff'),
         url('/fonts/karla/Karla-Regular-webfont.ttf') format('truetype'),
         url('/fonts/karla/Karla-Regular-webfont.svg#karlaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// basic includes & dependencies
@import "partials/base";

//vendor libraries
@import "vendor/chosen";
@import "vendor/includemedia";
@import "vendor/tooltipster";

// project-wide defaults
@import "partials/color";
@import "partials/grid";
@import "partials/type";
@import "partials/z";

// common components
@import "components/nav";
@import "components/graphs";
@import "components/tables";
@import "components/cards";
@import "components/buttons";
@import "components/modals";
@import "components/forms";
@import "components/footer";
@import "components/progress";
@import "components/sliders";
@import "components/dropdowns";
@import "components/cookie-error";
@import "components/jargon";

// page layouts
@import "layouts/primary";
@import "layouts/dashboard";
@import "layouts/overview";
@import "layouts/login";
@import "layouts/landing";
@import "layouts/share";
