#cookies
  p Cookies don't seem to be enabled in your browser. To use the Pulse, you must enable cookies.
  p
    | To learn how to manage your cookies, please visit your web browser's help center: 
    a(href="https://support.google.com/chrome/answer/95647?hl=en", target="_blank") Chrome
    | , 
    a(href="http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies#ie=ie-11", target="_blank") Internet Explorer
    | , 
    a(href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer", target="_blank") Firefox
    | , 
    a(href="https://support.apple.com/kb/PH19214?viewlocale=en_US&locale=en_US", target="_blank") Safari