extends /layouts/auth_base

block content
  main
    section
      .row
        .card.card-full
          .card-body
            h2.card-title More About the Responsive OS Pulse
            .card-intro.voice-ros
              p
                object(type='application/x-shockwave-flash', style='width: 100%; height: 340px;', data='http://vimeo.com/moogaloop.swf?clip_id=65692182&server=vimeo.com&show_title=0&show_byline=0&show_portrait=0&color=ff9933&fullscreen=1', allowfullscreen='true', allowscriptaccess='always')
                  param(name='movie', value='http://vimeo.com/moogaloop.swf?clip_id=65692182&server=vimeo.com&show_title=0&show_byline=0&show_portrait=0&color=ff9933&fullscreen=1', allowfullscreen='true', allowscriptaccess='always')
              p
                | Hello there, we're 
                a(href='http://undercurrent.com') Undercurrent
                | , a management consultancy with offices in NY and LA. We help our clients thrive in the face of unprecedented uncertainty and rampant organizational complexity. We call it 'being responsive.' Our clients (which include GE, AMEX, Pepsi, Ford, and The Gates Foundation) call it speed, efficiency, or foresight. Regardless of how you label it, after our engagements our clients are faster, leaner, and yet more adaptive to changes in their markets.
              p
                strong We're obsessed with how organizations work and how to make them work harder. 
                | We've spent the last 7 years studying the most ambitious organizations of our time — a group of over 80 firms, including Amazon, Tesla, Airbnb, Uber, Netflix, and Apple. Our work is also heavily influenced by the study of complex systems, an emerging scientific field that investigates the behavior of a large system of interacting agents (like a stock market, immune system, or hill of ants).
              p
                | Combining these two approaches, we've built, tested, and iterated our organizational model of everything — the Responsive Operating System — which guides and informs our work, whether we're helping to pick a new CEO, auditing a manufacturing system, devising a product strategy, or helping a firm re-write its mission.
