extends /layouts/base

block content
  main
    section
        .card.card-full.card--spacious.type-center.card--success
            .card-body
                .card-title You're finished!
                p Now it's our turn to tabulate the responses.<br />
                | Interested in learning more about responsive organizations? Visit <a href="http://undercurrent.com">Undercurrent.com</a>.