extends /layouts/base

block content
    main
        section
            .row
                .card.card-full.card--spacious.type-center
                    .card-body
                        .card-title Page not found.
                        p Sorry, we couldn't find what you were looking for. <a href="/">Go back home.</a>
