extends layouts/base

block content
  main
    .hero
        .hero--inner
            .hero--text
                h1 Build a better organization.
                p Get your team ready for the 21st century.<br/>
                    | Find the changes that will make the quickest impact.<br/>
                    | Track changes towards responsiveness.
                .hero--cta
                    a.button.button--action(href="/signup") Get started — it's free!
    section
        .card.card-full.card--spacious
            .card-body
                h1.title.title-xlarge Is your organization prepared for the 21<sup>st</sup> century?
                p.copy-large The organizations we have today are unfit for the next century. Rigid hierarchies, inflexible matrix reporting structures, meeting-rich schedules, and decision-rights for only the most tenured members – these “features” prevent any real work from getting done.
                p.copy-large We’ve been studying groups that work in a new way and as a result have a bigger impact on the world than their competitors. We’ve been using this tool for that research and for our paying clients. It’s now available for free. <strong>Find out how your organization measures up.</strong>
    section.landing-screenshots
        .row
            .landing-screenshot
                img(src="/img/screenshots/dashboard.png")
            .landing-screenshot
                img(src="/img/screenshots/survey.png")
            .landing-screenshot
                img(src="/img/screenshots/results.png")
    section
        .card.card-full.card--spacious
            .card-body
                h1.title.title-xlarge Measuring Up.
                p.copy-large Administering the Responsive OS Pulse is easy. Once you create an account you'll be given a link you can distribute to your teams. Results can are analyzed in real-time and along a variety of dimensions.
                p.copy-large Intoning the principles measured by Responsive Pulse affords an organization greater responsiveness to competition, culture, technology, and all other forms of disruption. We believe these principles – and their associated implications on ways of working – dramatically improve even the largest and most traditional institutions – for employees, for customers, and for shareholders.
                p.sub-title Your data will never be shared, sold, or made public. We promise to anonymize it if it's used to establish benchmarks or improve the tool's accuracy.
