include ../buttons
extends ../layout

block title
    h1 Password Reset

block content
    if name
        p Hi #{name},
    p You've recently asked us to reset the password for your account at <strong>#{to}</strong>. To complete this process, please click the button below.
    p If you didn't make this request, please feel free to ignore this email.

block actions
    if activated
        +email-button("Reset My Password", baseUrl + '/reset_password/' + key)
    else
        +email-button("Set My Password", baseUrl + '/activate?email=' + encodeURIComponent(to) + '&key=' + key)