.results--nav-menu
  a.results--nav-menu-item(href='/view/' + survey.key) Overview
  a.results--nav-menu-item(href='/view/' + survey.key + '/scores/purpose') Purpose
  a.results--nav-menu-item(href='/view/' + survey.key + '/scores/people') People
  a.results--nav-menu-item(href='/view/' + survey.key + '/scores/process') Process
  a.results--nav-menu-item(href='/view/' + survey.key + '/scores/product') Product
  a.results--nav-menu-item(href='/view/' + survey.key + '/scores/platform') Platform